@font-face {
  font-family: 'Rachel Brown';
  src: url(RachelBrown.otf);
}

@font-face {
  font-family: 'Binerka';
  src: url(Binerka.otf);
}

body{
  background: #232323;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(bg.png);
  color: white;
  font-family:'Rachel Brown'
}

a {
  text-decoration: none;
}

p {
  font-size: 20px;
}

#letters  {
  font-size: clamp(10px,10vw,70px);
  padding: 1rem;
  font-weight: bold;
  font-family: 'Binerka';

}

.letter{
  position: relative;
  display: inline-block;
}

.slanted{
  font-style: italic;
}

.middle{
  min-width: 60%;
  min-height: 60%;
  max-height: 90%;
  max-width: 90%;
  width: max-content;

  box-shadow: 0px 0px 20px #01363a80 inset;
  border-radius: 1rem;
  display: flex;
  background-color: #00a1a1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  /* This hides anything that goes outside the div*/
  overflow: hidden;
  overflow-y: auto;
}

.middle *{
  z-index: 1;
}

.bg-blur{
  background-color: #232323;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  background-image: url(bg.png);
  background-size: 90%;
  filter: blur(8px);
  opacity: 0.1;
}

img {
  width: 50px;
}

marquee{
  height: 100px;
}

img:nth-child(1){
  animation: bob 4s ease-in-out infinite;
}
img:nth-child(2){
  animation: bob 4s 0.2s ease-in-out infinite;
  filter: hue-rotate(50deg);
}
img:nth-child(3){
  animation: bob 4s 0.4s ease-in-out infinite;
  filter: hue-rotate(300deg);
}


@keyframes bob{
  0% {
    transform: translateY(0px);
  }
  50%{
    transform: translateY(50px);
  }
  100%{
    transform: translateY(0px);
  }
}

h2{
  background-color: #0c6674;
  color: white;
  font-size: 30px;
  font-weight: normal;
  padding: 0 1.5rem;
  padding-top: 0.5rem;
  margin: 0.5rem;
  border-radius: 3rem;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  transition: all 0.2s ease-in-out;
}

h2:hover{
  transform: scale(1.1);
  background-color: #1b8a9b;
}

.twitch{
  background-color: #A278C0;
}

.twitch:hover{
  background-color: #b88cd7;
}

.discord{
  background-color: #467CF5
}

.discord:hover{
  background-color: #5d8ef9;
}

.insta{
  background-color: #F54969;
}

.insta:hover{
  background-color: #f5758c;
}