body{
  background: #232323;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(bg.png);
  color: white;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

a {
  text-decoration: none;
}

p {
  font-size: 20px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

.slanted{
  font-style: italic;
}

.middle{
  width: 60%;
  height: 60%;
  background-color: #00A0A1;
  box-shadow: 0px 0px 20px #01363a80 inset;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  /* This hides anything that goes outside the div*/
  overflow: hidden;
}

img {
  width: 50px;
  margin-bottom: 1rem;
}

h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0c6674;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 0.5 1.5rem;
  margin: 0.5rem;
  border-radius: 3rem;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  transition: all 0.2s ease-in-out;
}

h2:hover{
  transform: scale(1.05);
  background-color: #1b8a9b;
}

.twitch{
  background-color: #A278C0;
}

.twitch:hover{
  background-color: #b88cd7;
}

.discord{
  background-color: #467CF5
}

.discord:hover{
  background-color: #5d8ef9;
}

.insta{
  background-color: #F54969;
}

.insta:hover{
  background-color: #f5758c;
}